/* *{
  margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
} */
.product{
  width: 100%;
  height: 100vh;
  margin: 20px 0;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;  
}
.contato{
  display: flex;
  flex-direction: column;
}
.contato label{
  color: #fff;
  margin-left: 80px;
  font-size: 20px;
}
.contato strong{
  color: #ddd;
  margin-top: 0;
  margin-left: 10px;

}
.contato img{
  width: 50px;
  height: 50px;
  
}
.inicio h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 5px;
  color: #ddd;
}
.inicio h3{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 5px;
  color: #ddd;
}
.product article{
  position: relative;
  padding: 20px 40px 40px;
  text-align: center;
  background: #333;
  overflow: hidden;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  max-height: 350px;
}
.product article p {
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product article h2{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: #ddd;
  z-index: 1;
}
.product a {
  color: #ddd;
  font-size: 20px;
    line-height: 40px;
    font-family: Arial;
    padding: 0px 20px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-shadow: rgb(41, 62, 117) 1px 1px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(41, 62, 117);
    border-image: initial;
    background: url(https://secure.mlstatic.com/mptools/assets/MP-payButton-blue.png) rgb(40, 83, 111);
    text-decoration: none;
}
